<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/listings">All Listings</a>
          <a class="nav-link" href="/listings/new">Add New Listing</a>
          <% if (currUser) { %>
            <a class="nav-link" href="/friends">Friends</a>
            <a class="nav-link" href="/invites">Invites</a>
            <a class="nav-link" href="/recommendations">Recommendations</a>
          <% } %>
        </div>

        <form class="d-flex mx-auto search-form" action="/listings" method="GET" style="max-width: 400px; width: 100%;">
          <div class="input-group">
            <input class="form-control search-input" type="search" name="country" placeholder="Search country..." aria-label="Search" value="<%= locals.country || '' %>">
            <button class="btn btn-search" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </form>

         <div class="navbar-nav ms-auto">
          <% if(!currUser){ %>
          <a class="nav-link" href="/login">Login</a>
          <% } %>
          <% if(currUser){ %>
          <a class="nav-link" href="/logout">Logout</a>
          <%}%>
          <% if(!currUser){ %>
          <a class="nav-link" href="/signup">Signup</a>
          <%}%>
        </div> 

    </div>
  </div>
</nav>